* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eaedf0;
}

/* ESTILOS GENERALES */

.fuente-clara {
    color: #eeeeee;
}

.fuente-oscura {
    color: #22211f;
}

.fuente-acento {
    color: #8a2be2;
}

.fuente-titulo {
    color: #8a2be2;
}

nav ul li {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
}

nav ul li a {
    color: white;
}

/* HEADER */

header {
    background-color: #313131;
    width: 100%;
    /*display: flex;
    align-items: center;
    justify-content: space-between;*/
}

.logo {
    display: inline-block;
    font-size: 32px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

header {
    position: fixed;
    z-index: 1000;
    top: 0;
}

header nav {
    height: 80px;
    float: right;
}

nav ul.menu {
    float: right;
}

nav ul.menu li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul.menu li a {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 7px 7px;
}

/* MENU */

.checkbtn {
    font-size: 32px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/* SECCION 1 */

.section-1 {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7em 3em 3em 3em;
}

.acerca {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.acerca p {
    font-size: 20px;
}

.acerca-de {
    margin: 0 32px;
    max-width: 380px;
    min-width: 300px;
    text-align: right;
}

.title1 {
    color: #8a2be2;
    font-size: 24px;
    margin: 0.5em 0;
}

.parrafo1 .parrafo2 {
    width: 90%;
}

.acerca-imagen {
    margin: 0 32px;
    width: 300px;
    height: 100%;
}

.acerca-imagen img {
    width: 100%;
    border-radius: 8%;
}

/* SECCION 2 */

.section-2 img {
    width: 100%;
}

/* SECCION 3 */

.section-3 {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #fff;
    margin: 16px 24px;
    width: 300px;
    height: 100%;
}

.card h3 {
    color: #8a2be2;
}

.card p {
    color: #18151b;
    margin-bottom: 1em;
}

.section-3 img {
    width: 100%;
    border-radius: 32px;
}

/* SECCION4*/

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
    width: 100%;
    margin: auto;
    padding: 50px 20px;
}

.form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #8a2be2;
}

/* ------------- Formulario ------------- */

.formulario {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
    /*width: 80%;*/
    padding: 50px 25px;
    margin: 30px 0 20px 0;
}

/* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 3px;
    text-align: initial;
}

.form-row textarea {
    /*font-family: "Helvetica", "Arial", sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
    width: 100%;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #8a2be2;
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
}


.form-row button:hover {
    background-color: #a35ee4;
}


.form-row button:active {
    background-color: #924cd3
}

/* FOOTER */

footer {
    background-color: #18151b;
    width: 100%;
    padding: 25px;
}

#footer {
    padding: 1em;
}

#footer nav ul {
    margin: 0;
    padding: 0;
}

#footer nav ul li {
    margin-top: 0.3em;
}

#footer nav ul li a {
    color: white;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.fa-solid.fa-splotch.fixed {
    position: fixed;
    bottom: 22px;
    right: 39px;
}


/* MEDIA QUERIES */

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
    header {
        background-color: #8a2be2;
    }

    .fuente-acento {
        color: white;
    }

    .checkbtn {
        display: block;
    }

    .navbar {
        height: 0vh;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #2c3e50;
        text-align: center;

        transition: all 0.5s;
        overflow: hidden;
    }

    .navbar ul.menu {
        float: none;
        display: block;
        width: 174px;
        margin: 0 auto;
        opacity: 0;
    }

    .navbar ul.menu li a:hover {
        color: #b59a61;
    }

    /* ACTIVE */
    .navbar.active {
        height: 100vh;
    }

    .navbar.active ul.menu {
        opacity: 1;
    }

    .acerca p {
        margin-bottom: 1em;
    }
    

    .acerca-de {
        text-align: center;
    }

    .acerca-imagen {
        /*max-width: 200px;*/
        margin-bottom: 40px;
    }

    .mi-trabajo {
        text-align: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        align-items: center;
        text-align: center;
    }

    /*mformulario*/
    
}

@media (min-width: 768px) {
    .form-header {
        padding: 50px;
    }

    .formulario {
        padding: 50px;
    }

    .form-row {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .form-row input[type="text"] {
        width: 250px;
        height: initial;
    }

    .form-row input[type="email"] {
        width: 250px;
        height: initial;
    }

    .form-row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }

    .form-row textarea {
        width: 250px;
    }

    .form-row button {
        margin-left: 120px;
    }
}
 /*https://flexboxfroggy.com/#es
http://www.flexboxdefense.com/
https://cssgridgarden.com/#es rem= Root Em equivale a 16px se utiliza mucho par responsivo 

%= el porcentaje de la pagina 

em=tiene un tamaño de fuente de 16px

px = es la unidad por pixel 

vh=1% de la altura de la ventana gráfica.
vw	1% del ancho de la ventana gráfica.
lh	Altura de la línea del elemento.
ch	La medida de avance (ancho) del glifo "0" de la letra del elemento.

}*/